body {
    font-family: sans-serif;
    background-color: rgb(0,0,0,0.83);
}

header {
    display: flex;
    justify-content: space-between;
    padding: ;
    margin-bottom: 20px;
}

.button {
    display: flex;
    justify-content: center;
    background-color: #36bbce;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
    display: flex;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
    
   

}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    font-size: 24px;
}

.info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;

 
}

article {
    background-color: white;
    padding: ;
    width: 400px;
    margin: 20px;
    text-align: center;
}

.article-but {
    text-decoration: none;
    background-color: ;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 45px 10px 45px;
    margin: 10px;
}

footer {
    background-color: #36bbce;
    padding: 10px;
}

footer a {
    margin-right: 10px;
}

footer p {
    color: white;
    font-size: 24px;
    text-align: left;
}
